.title{
    text-align: center;
    font-size: 15px;
    color: #212EA0;
    font-weight: 200;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 32px;
    margin-top: 4px;
    color: #000F38;
    text-transform: none;
}